.head {
    background: red;
    font: bold;
    font-size: 25px;
    font-family: Courier;
}
.left_div {
    background-color: teal;
    Color: #42f1f4;
    width: 85px;
    height: 105px;
    float: left;
}
.main_content {
    background-color: black;
    font: rgba(219, 211, 211, 0.52);
    float: right;
    width: 350px;
    height: 450px;
}

.footer {
    background: Gray;
    font: rgba(85, 81, 81, 0.52);

}